@import url("https://use.typekit.net/qwm4icu.css");

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

html {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  user-select: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover,
button:hover {
  cursor: pointer;
}
